// ---------- Variables ---------- //
// -- Padding -- //
$paddings-plugin: (
    0:     0,
    5px:   5px,
    10px:  10px,
    15px:  15px,
    20px:  20px,
    25px:  25px,
    30px:  30px,
    35px:  35px,
    40px:  40px,
    45px:  45px,
    50px:  50px,
    55px:  55px,
    60px:  60px,
    65px:  65px,
    70px:  70px,
    75px:  75px,
    80px:  80px,
    85px:  85px,
    90px:  90px,
    95px:  95px,
    100px: 100px
) !default;


// -- Margin -- //
$margins-plugin: (
    0:     0,
    5px:   5px,
    10px:  10px,
    15px:  15px,
    20px:  20px,
    25px:  25px,
    30px:  30px,
    35px:  35px,
    40px:  40px,
    45px:  45px,
    50px:  50px,
    55px:  55px,
    60px:  60px,
    65px:  65px,
    70px:  70px,
    75px:  75px,
    80px:  80px,
    85px:  85px,
    90px:  90px,
    95px:  95px,
    100px: 100px
) !default;

$margins-negative: (
    n5px:   -5px,
    n10px:  -10px,
    n15px:  -15px,
    n20px:  -20px,
    n25px:  -25px,
    n30px:  -30px,
    n35px:  -35px,
    n40px:  -40px,
    n45px:  -45px,
    n50px:  -50px,
    n55px:  -55px,
    n60px:  -60px,
    n65px:  -65px,
    n70px:  -70px,
    n75px:  -75px,
    n80px:  -80px,
    n85px:  -85px,
    n90px:  -90px,
    n95px:  -95px,
    n100px: -100px
) !default;
